@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --white-color: #ffffff;
  --blue-color:#0E4BEF;
  --header-height:5rem;
  --footer-height:4rem;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #ffffff;
  color: var(--white-color);
}

.header {
  height: 70vh;
  padding-top: 3rem;
  padding-bottom: 4rem;
  justify-content: flex-end;
  background-image: url("./assets/img/background1.png");
  margin-bottom: 3rem;
}

.header,
img {
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  position: fixed;
  z-index: 1;
  background: hsla(0, 0%, 0%, 0.2);
  backdrop-filter: blur(20px);
  padding-right: 1.5em;
}

.menu-list {
  list-style: none;
  justify-content: flex-end;
  gap: 1.2rem;
  padding: 0;
  margin: 0;
}

.navbar a {
  text-decoration: none;
  color: var(--white-color);
  font-size:  1.6rem;
  
}

.navbar a > span {
  font-weight: 700;
  margin-inline-end: 0.5em;
}

.mobile-menu-toggle {
  display: none;
}

article {
 width: 40%;

}

.front-name {
  flex-direction: column;
  padding: 3rem 0 0 1rem;
  width: 100%;
  font-family: "Ropa Sans", sans-serif;
  font-size: 2.5rem;
}

.front-name a {
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.5rem;
  width: 10rem;
}

.profile-pic{
  position: relative;
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 500rem;
  top: 4rem;
  margin-left: 2rem;
  filter: grayscale(100%);  
}

.icon-links { 
  margin-top: 1rem;
  
}
.fa-brands {
  color: var(--white-color);  
  font-size: 4rem;
  margin-right: 1rem;
  
}

.page-main {
  font-family: "Roboto";
  font-size: 1rem;
  color: rgb(0, 0, 0);
  padding: 0rem 4rem 0 4rem;
  height: 100vh;
  justify-items: center;
}

.page-first, .page-second {
  gap: 2rem;
  align-items: center;
  padding-bottom: 3rem;

}
.side-img {
  width: 30%;
  height: 100%;
  border-radius: 8% 8% 8% 0%;
 
}

/* Re-usable classes */

.m0 {margin: 0;}
.flex {display: flex;}
.justify-center {justify-content: center;}


/* animations */

.icon-links :hover {
  animation: icon-links 0.5s ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes icon-links {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.front-name {
  animation-name: slideInFromLeft;
  animation-duration: 2s;
}


@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.navbar {
  animation-name: slideInFromRight;
  animation-duration: 2s;
}




/*  max 360 mobile  inc tablet  right order with mediaquerys */

/* TABLET */
@media (max-width: 768px) {
}

/* MOBILE */
@media (max-width: 406px) {
  .navbar {
    position: fixed;
    z-index: 50;
    inset: 0 0 0 30%;
    background: hsla(0, 0%, 0%, 0.5);
    backdrop-filter: blur(20px);
    padding: 16vh 0 0 20px;
    gap: 2em;
    height: 100%;
    border-radius: 0px 0 0 17px;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
  }
  .navbar.open {
    transform: translateX(0);
  }

  ul {
    flex-direction: column;
  }
  .mobile-menu-toggle {
    display: block;
    position: absolute;
    z-index: 60;
    background-color: transparent;
    width: 2rem;
    border: none;
    right: 3rem;
    color: var(--white-color);
  }
}
