@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --white-color: #ffffff;
}

#top-navigation {
display: hidden;
 top: 0;

}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #ffffff;
  color: var(--white-color);
}

.header {
  height: 70vh;
  padding-top: 3rem;
  padding-bottom: 4rem;
  justify-content: flex-end;
  background-image: url("./assets/img/background1.png");
  margin-bottom: 3rem;
}

.header,
img {
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  position: fixed;
  z-index: 1;
  background: hsla(0, 0%, 0%, 0.2);
  backdrop-filter: blur(20px);
  padding-right: 1.5em;
}

.menu-list {
  list-style: none;
  justify-content: flex-end;
  gap: 1.2rem;
  padding: 0;
  margin: 0;
}

.navbar a {
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.6rem;
}

.navbar a > span {
  font-weight: 700;
  margin-inline-end: 0.5em;
}

.mobile-menu-toggle {
  display: none;
}

article {
  width: 40%;
}

.front-name {
  flex-direction: column;
  padding: 3rem 0 0 1rem;
  width: 100%;
  font-family: "Ropa Sans", sans-serif;
  font-size: 2.5rem;
}

.front-name a {
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.5rem;
  width: 10rem;
}

.profile-pic {
  position: relative;
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 500rem;
  top: 4rem;
  margin-left: 2rem;
  filter: grayscale(25%);
}

.icon-links {
  margin-top: 1rem;
}

.fa-brands {
  color: var(--white-color);
  font-size: 4rem;
  margin-right: 1rem;
}

.page-main {
  font-family: "Roboto";
  font-size: 1rem;
  color: rgb(0, 0, 0);
  padding: 0rem 4rem 0 4rem;
  height: 130vh;
  justify-items: center;
}

.page-first,
.page-second {
  gap: 2rem;
  align-items: center;
  padding-bottom: 3rem;
}
.side-img {
  width: 30%;
  height: 100%;
  border-radius: 8% 8% 8% 0%;
}

/* Portfolio Cards */

section {
  margin: 0 auto;
  padding: 0rem 4rem 0 4rem;
}

#card-container {
  padding: 1rem 4rem 0 4rem;
  margin: 0 auto;
}

.card {
  padding: 0rem 4rem 0 4rem;
  justify-items: center;
  background-color: var(--white-color);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

#project-previews {
  width: 250px;
  height: 200px;
  object-fit: cover;
  margin-right: 0.5rem;
}

.card {
  display: flex;
  border: 1px solid #000000;
  padding: 0.5rem;
}

/* Footer */

.page-footer {
  position: absolute;
  background-color: #656565;
  color: var(--white-color);
width: 100%;
  margin-top: 3rem;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem 0 4rem;
}

.footer-text {
  font-size: 1.2rem;
  font-family: "Roboto";
  font-weight: 400;
}





/* Re-usable classes */
.decoration {
  color: #b90000;
  font-weight: 600;
}
.m0 {
  margin: 0;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}


 .icon-links :hover { 
  animation: icon-links 1s ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes icon-links {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.front-name {
  animation-name: slideInFromLeft;
  animation-duration: 2s;
}


@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.navbar {
  animation-name: slideInFromRight;
  animation-duration: 2s;
} 

/*  max 360 mobile  inc tablet  right order with mediaquerys */

/* TABLET */
/* @media (max-width: 768px) { */
/* } */
